<%= render @albums %>

<div class="album1_songs">
  <%= render @album1_songs %>
</div>

<div class="album2_songs">
  <%= render @album2_songs %>
</div>

<div class="album3_songs">
  <%= render @album3_songs %>
</div>

<div class="album4_songs">
  <%= render @album4_songs %>
</div>

<div class="album5_songs">
  <%= render @album5_songs %>
</div>
